<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Braids and beyond{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      {% if session['username'] %}
      <h3 style="position: absolute; left: 20px">
        Welcome, {{ session['username'] }}!
      </h3>
      {% endif %}
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if session['username'] %}

          <li>
            <a href="{{ url_for('book_appointment_route') }}"
              >Book Appointment</a
            >
          </li>
          <li>
            <a href="{{ url_for('manage_appointments') }}"
              >Manage Appointments</a
            >
          </li>
          <li>
            <a href="{{ url_for('manage_services') }}">Manage Services</a>
          </li>
          <li>
            <a href="{{ url_for('manage_stylists') }}">Manage Stylists</a>
          </li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 Hair Salon. All rights reserved.</p>
    </footer>

    <script>
      // Hide flash messages after 3 seconds
      setTimeout(function () {
        var flashMessages = document.querySelectorAll(".flash-message");
        flashMessages.forEach(function (message) {
          message.style.display = "none";
        });
      }, 3000);
    </script>
  </body>
</html>
