{% extends "base.html" %} {% block title %}Manage Stylists{% endblock %} {%
block content %}
<h1>Manage Stylists</h1>
<form action="{{ url_for('manage_stylists') }}" method="post">
  <h2>Add New Stylist</h2>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required />

  <label for="specialization">Specialization:</label>
  <input type="text" id="specialization" name="specialization" required />

  <button type="submit">Add Stylist</button>
</form>

<h2 style="margin: 15px 8px; padding-top: 10px">Existing Stylists</h2>
<!-- Search Form -->
<form method="post" action="{{ url_for('manage_stylists') }}">
  <div class="search-form">
    <input
      type="text"
      name="search"
      placeholder="Search by staylists name"
      value="{{ search_query }}"
    />
    <button class="search-button" type="submit">Search</button>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Specialization</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for stylist in stylists %}
    <tr>
      <td>{{ stylist.id }}</td>
      <td>{{ stylist.name }}</td>
      <td>{{ stylist.specialization }}</td>
      <td>
        <a
          href="{{ url_for('edit_stylist', stylist_id=stylist.id) }}"
          class="btn btn-edit"
          >Edit</a
        >
        <form
          action="{{ url_for('delete_stylist_route', stylist_id=stylist.id) }}"
          method="post"
          style="display: inline"
          onsubmit="return confirm('Are you sure you want to delete this stylist?');"
        >
          <button class="delete-button" type="submit" class="btn btn-delete">
            Delete
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
